@use '../utils' as *;

.detailpost {
  &__title {
    display: block;
    text-align: center;
    font-size: rem(45px);
    margin-top: rem(50px);
  }

  &__info {
    height: rem(130px);
    background: #edffe9;
    display: flex;
    flex-direction: column;
    font-size: rem(23px);
    padding: rem(30px) rem(30px);
    justify-content: space-between;
  }

  i {
    cursor: pointer;
  }
}

.fas.fa-heart.liked {
  color: orangered;
}

.fas.fa-heart {
  color: gray;
}

.detail-buttons {
  margin-bottom: rem(20px);
}

.detail-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: rem(25px);
  border-bottom: 2px solid black;
  margin: rem(20px) 0;
  padding: rem(30px);
}

.detailright-wrapper {
  .post__likenum {
    margin-right: rem(30px);
  }
}

.review {
  margin-top: rem(20px);
}
.review > div {
  margin-top: rem(10px);
  border: 1px solid black;
  padding: rem(30px);
}

.comment_container {
  background: #f6f6f6;
  padding: rem(30px);
  margin-top: rem(20px);
}

.comment-wrapper {
  border-top: 2px solid black;
  padding-top: rem(30px);
  margin: rem(40px) 0;
  display: flex;
  justify-content: center;
}

.comment-wrapper > span {
  line-height: 2;
}

.post-comment {
  position: relative;
  font-size: rem(18px);
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(30px);
  padding-bottom: rem(30px);
  border-bottom: 2px solid lightgrey;

  .comment-writer {
    display: inline-block;
    width: rem(150px);
  }

  .comment-content {
    display: inline-block;
    width: rem(200px);
  }

  .comment-date {
    display: inline-block;
    width: rem(300px);
  }
}

#comment {
  width: 85%;
  height: rem(30px);
  margin: 0 rem(20px);
}

.comment-buttons {
  position: absolute;
  right: 0;
}
